{# zet hier je card html van je producten, doe daarna set je image; if sneakerimage, geef dan img tag, en dan ending. zie foto  #}
{% set price = product.price %}
{% set amount = price.getAmount() %}
{% set currency = price.getCurrency() %}

<img src="{{ product.image.one().url }}" alt="{{ product.merk }} - {{ product.soort }}">

<h2>{{ product.merk }}
	-
	{{ product.soort }}</h2>
<p>{{ amount / 100 }}
	{{ currency }}</p>
