<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>K-Serenity Skincare</title>
		<script src="https://kit.fontawesome.com/7a5bc158b3.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
		{% hook 'after-body-start' %}

		{% set homepage = craft.entries.section('homepage').one() %}

		<div class="navbar" id="navbarjs">
			{% include '_snippets/_nav.twig' %}
		</div>

		<div class="background">
			<div class="logo">
				{% if homepage.sitelogo.one() %}
					<img src="{{ homepage.sitelogo.one().url }}" alt="logo">
				{% endif %}
			</div>
			<div class="content">
				<h1>{{ homepage.homepagetitle }}</h1>
				<p>{{ homepage.homepagedescription|nl2br }}</p>
				<a href="{{ homepage.homepagebuttonlink }}">
					<button>{{ homepage.homepagebuttontext }}</button>
				</a>
			</div>
		</div>

		<div class="info">
			<div class="title">
				<h2>{{ homepage.infotitle }}</h2>
			</div>
			<div class="uitleg">
				<p>{{ homepage.infodescription }}
				</p>
			</div>
		</div>
		{% set products = craft.entries.section('products').type('productentry').limit(3) %}

		<div class="producten">
			<h2 class="producten-title">{{ homepage.toptitle }}</h2>
			<div class="product-row">
				{% for product in products %}
					{% include '_snippets/_skincareCard.twig' with { product: product } %}
				{% endfor %}
			</div>
		</div>

		<div class="contact">
			<div class="title">
				{% for block in homepage.contactmatrix.all() %}
					{% if block.contactimg|length %}
						<img src="{{ block.contactimg.one().url }}" alt="{{ block.contacttitle }}">
					{% endif %}
					<h2>{{ block.contacttitle }}</h2>

				{% endfor %}
			</div>
			<div class="gegevens">
				<h2>{{ homepage.contacttitlemail }}</h2>
				<p>{{ homepage.contactmail }}</p>
				<h2>{{ homepage.contacttitletel }}</h2>
				<p>{{ homepage.contacttel }}</p>
				<h3>{{ homepage.contacttitlesocials }}</h3>
				<a href="#">
					<i class="fa-brands fa-square-instagram fa-2xl"></i>
				</a>
				<a href="#">
					<i class="fa-brands fa-square-x-twitter fa-2xl"></i>
				</a>
			</div>
		</div>
		<footer>
			{% include '_snippets/_footer.twig' %}
		</footer>
	</body>
</html>
