{% extends "_layout.twig" %}

{% block content %}
		<div class="navbarpro" id="navbarjs">
			{% include '_snippets/_nav.twig' %}
		</div>
		{% include '_snippets/_logoBlack.twig' %}

		{% if productenPage %}
			<div class="producten-titel">
				<h1>{{ productenPage.productentitle }}</h1>
				<p>{{ productenPage.productendescription }}</p>
			</div>
		{% endif %}
		<div class="background-producten">
			<div class="filter">
				<div class="filter-col">
					<label for="merk-filter">Filter by brand:</label>
					<select id="merk-filter" name="brand">
						<option value="">All</option>
						{% for brand in craft.entries.section('brands').all() %}
							<option value="{{ brand.id }}" {% if brand.id == craft.app.request.getQueryParam('brand') %} selected {% endif %}>
								{{ brand.title }}
							</option>
						{% endfor %}
					</select>
					<label for="prijs-filter" class="prijs-filter">Filter by price:</label>
					<select id="prijs-filter" class="prijs-filter">
						<option value="all">
							All
						</option>
						<option value="1-10">
							€1 -  €10
						</option>
						<option value="10-20">€10 - €20</option>
						<option value="20-30">€20 - €30</option>
						<option value="30-40">€30 - €40</option>
						<option value="40-50">€40 - €50</option>
					</select>
				</div>
			</div>


				<div class="product-grid">
					<div class="product-row">
						{% for product in products %}
							{% include '_snippets/_skincareCard.twig' with { product: product } %}
						{% endfor %}
					</div>
				</div>
				<div class="pagination">
					{% if pageInfo.prevUrl %}
						<a href="{{ siteUrl(pageInfo.prevUrl) }}">Previous</a>
					{% endif %}

					<span>Page
						{{ pageInfo.currentPage }}
						of
						{{ pageInfo.totalPages }}</span>

					{% if pageInfo.nextUrl %}
						<a href="{{ siteUrl(pageInfo.nextUrl) }}">Next</a>
					{% endif %}
				</div>
			</div>
{% endblock %}

